<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BF2Updater.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <BF2Updater.My.MySettings>
            <setting name="patch11" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="patch141" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="patch150" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bf2hub" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="atf" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dx" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pb" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="patch150_2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="patch150_3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="patch150_4" serializeAs="String">
                <value>False</value>
            </setting>
        </BF2Updater.My.MySettings>
    </userSettings>
</configuration>
